<!DOCTYPE html>
<html>
<head>
  <title>Task 3 - Password Encryption</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Password Encryption</h1>
    <form action="/password" method="POST">
      <input type="password" name="password" placeholder="Enter Password" required>
      <button type="submit">Encrypt</button>
    </form>

    <% if (hash) { %>
      <p><b>Encrypted:</b> <%= hash %></p>
    <% } %>
  </div>
</body>
</html>
