<!DOCTYPE html>
<html>
<head>
  <title>Validation</title>
  <style>
    body { background: #ff6a00; color: white; text-align: center; font-family: Verdana; }
    h1 { margin-top: 150px; font-size: 3em; font-weight: bold; }
    a { color: yellow; font-weight: bold; }
  </style>
</head>
<body>
  <h1><%= message %></h1>
  <a href="/">Go Back</a>
</body>
</html>
